
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Index</h2>

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<table class="table table-striped">
    <tr>
        <th>
            Name List
        </th>
    </tr>
    <tbody>
        @foreach(var item in ViewBag.NameList)
        {
        <tr>
            <td>
                @item
            </td>
        </tr>
        }
    </tbody>
</table>